WebOxcoder/DAL/DAL.csproj
*.csproj
WebOxcoder/IDAL/IDAL.csproj
*.config
*.cache
WebOxcoder/WebOxcoder.v11.suo
WebOxcoder/WebOxcoder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebOxcoder/Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.dll
*.pdb
*.cache
*.txt
WebOxcoder/Model/DataClasses.dbml
*.dbml
WebOxcoder/Model/DataClasses.designer.cs
WebOxcoder/Model/Properties/Settings.settings
WebOxcoder/Model/oxcoder.designer.cs
WebOxcoder/Model/Data.designer.cs
*.layout
WebOxcoder/Model/Properties/AssemblyInfo.cs
WebOxcoder/Model/Properties/Settings.Designer.cs
WebOxcoder/WebOxcoder.sln